html,
body {
    height: 100%;
}

@import "~bootstrap/scss/bootstrap";
header {
    padding: 10px;
    border-bottom: 1px solid #c8c3c3;
    h3 {
        font-size: 20px;
    }
    margin-bottom: 30px;
}

.text-xs-right {
    text-align: right;
}

.btn-danger {
    margin-left: 15px;
}

.back {
    margin: 20px 0;
    display: inline-block;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.justify-content-sm-center {
    padding-bottom: 150px;
}

footer {
    background: #35363b;
    padding: 15px;
    color: #fff;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    p {
        margin: 0;
        padding: 0;
    }
}