body {
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
    text-align: center;
}

.text-xs-right {
    text-align: right;
}

.btn-danger {
    margin-left: 15px;
}

.back {
    margin: 20px 0;
    display: inline-block;
}